body {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
	margin: 0;
	padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   cursor: default;
	background-color: #F6F4F0;
}

div {
	overflow: hidden;
}

#pendingOrders {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 350px;
	height: 30px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#currentOrder {
	position: absolute;
	left: 350px;
	top: 0px;
	width: 450px;
	height: 30px;
	border-bottom: 1px solid black;
}

#pauseButton, #resumeButton {
	position: absolute;
	left: 10px;
	top: 50px;
	width: 32px;
	height: 21px;
	z-index: 250;
}

#muteButton, #unmuteButton {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 32px;
	height: 21px;
	overflow: hidden;
}

#ovenControls {
	position: absolute;
	top: 90px;
	left: 25px;
	width: 90px;
	height: 200px;
	background-image: url('../images/therm.png');
	background-repeat: no-repeat;
	overflow: visible;
}

#highButton {
	position: absolute;
	left: -8px;
	top: 25px;
	width: 60px;
	border: 1px solid black;
}

#medButton {
	position: absolute;
	left: -8px;
	top: 55px;
	width: 60px;
	border: 1px solid black;
}

#lowButton {
	position: absolute;
	left: -8px;
	top: 85px;
	width: 60px;
	border: 1px solid black;
}

#garbageCan {
	position: absolute;
	left: 16px;
	top: 290px;
	background-image: url('../images/garbagecan.png');
	width: 64px;
	height: 88px;
}

#fullGriddle {
	position: absolute;
	left: 100px;
	top: 40px;
	width: 500px;
	height: 350px;
	border: 1px solid black;
}

#activeGriddle {
	position: absolute;
	left: 350px;
	top: 40px;
	width: 250px;
	height: 230px;
	background-color: white;
	border: 1px solid black;
}

#prepTable {
	position: absolute;
	left: 600px;
	top: 40px;
	width: 200px;
	height: 350px;
	border: 1px solid black;
}

#buffButtons {
	position: absolute;
	left: 0;
	top: 400px;
	width: 600px;
	height: 75px;
}

#score {
	position: absolute;
	left: 600px;
	top: 400px;
	width: 200px;
	height: 18px;
}

#tips {
	position: absolute;
	left: 600px;
	top: 419px;
	width: 200px;
	height: 18px;
}

#burgers {
	position: absolute;
	left: 600px;
	top: 438px;
	width: 200px;
	height: 18px;
}

#yulp {
	position: absolute;
	left: 600px;
	top: 457px;
	width: 200px;
	height: 18px;
}

#menuButtons {
	position: absolute;
	left: 0;
	top: 485px;
	width: 400px;
	height: 40px;
}

#radio {
	position: absolute;
	top: 485px;
	left: 450px;
	overflow: visible;
}

#credits {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 40px;
	text-align: center;
}

.patty {
   position: absolute;
   width: 100px;
   height: 100px;
   border: 1px solid brown;
   z-index: 100;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.colBox {
   width: 100px;
   height: 100px;
   border: 2px dashed black;
   z-index: 1000;
   position: absolute;
}

.buff {
	width: 73px;
	height: 73px;
	float: left;
	border: 1px solid black;
}

.buff:hover {
   background-color: #fcfb9c;
}

.prepTableSlotFill {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
}

.hashFill {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
}

.spatulaCursor {
	cursor: url(../images/spatula.cur), auto;
}

.handCursor {
   cursor: hand, auto;
}

.white {
	color: white;
}

.points {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 14pt;
	line-height: 100%;
}

.buffCount {
   position: relative;
	left: 60px;
   top: 55px;
   font-weight: bold;
}

#fillOrder {
   position: absolute;
   bottom: 0;
}

.flipSide {
   position: absolute;
   bottom: 0;
   right: 0;
}

.prepPatty {
	position: relative;
   border: 1px solid brown;
   height: 30px;
}

.redBG {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: red;
   top: 0;
   left: 0;
}

.ui-widget-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
}

.ui-dialog-titlebar-close {
   float: right;
}

.ui-dialog-title {
	font-weight: bold;
}

.popUp {
   border: 2px solid black;
   background-color: white;
   clear: both;
   display: table;
   z-index: 800;
}

.storeBuff, .upgradeBuff {
   border: 1px solid black;
   width: 100px;
   height: 100px;
   float: left;
   position: relative;
}

.storeBuff:hover, .upgradeBuff:hover {
   background-color: #fcfb9c;
}

#buffBox {
   width: 408px;
   height: 204px;
}

.controls {
   float: left;
   width: 340px;
   border: 1px solid black;
}

#buffs {
   width: 408px;
   height: 204px;
   float: left;
}

#stars {
	float: left;
   background-image: url('../images/star_off_sm.png');
   width: 90px;
	height: 17px;
}

#starMask {
   background-image: url('../images/star_on_sm.png');
	height: 17px;
   width: 0px;
}

#container {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 520px;
	border: 1px solid black;
	background-color: white;
}

#title {
	width: 800px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 24pt;
	margin-bottom: 20px;
	text-align: center;
}

#instructions {
	overflow-y: scroll;
}

.garbageIcon {
   position: absolute;
	height: 30px;
	top: 1px;
	right: 2px;
}

.crudBox {
   position: absolute;
   border: 1px solid red;
   background-color: black;
   z-index: 150;
}

.fireBox {
   position: absolute;
   background-color: black;
   background-image: url('../images/fire.png');
   z-index: 150;
}

#zeroBurgs {
	color: red;
	font-weight: bold;
}

#orderScoringToolTip {
	overflow-y: scroll;
}

#orderScoringTxt {
	font-size: 6pt;
}

.startText {
	font-size: 35pt;
	font-weight: bold;
}

/* upgrade store icon sprites */
#storeBeefQuality, #storePattiesPerDay, #storeGriddleSize, #storeGriddleTemp, #storePrepTableSize, #storeTruckExterior, #storeBuffEnhance {
	background: url('../images/upgrade_sprites.png') no-repeat;
}

#storeBeefQuality {
	background-position: 0 0;
	width: 100px;
	height: 100px;
}

#storePattiesPerDay {
	background-position: 0 -316px ;
	width: 100px;
	height: 100px;
}

#storeGriddleSize {
	background-position: -105px 0;
	width: 100px;
	height: 100px;
}

#storeGriddleTemp {
	background-position: 0 -207px ;
	width: 100px;
	height: 100px;
}

#storePrepTableSize {
	background-position: 0 -103px ;
	width: 100px;
	height: 100px;
}

#storeTruckExterior {
	background-position: -113px -114px ;
	width: 100px;
	height: 100px;
}

#storeBuffEnhance {
	background-position: -109px -230px ;
	width: 100px;
	height: 100px;
}

/* buff store sprites */
#storeFireExtinguisher, #storeHeatLamp, #storeHelper, #storeMicrowave, #storePause, #storeTwitter, #storeSauce, #storeScraper {
	background: url('../images/buff_sprites.png') no-repeat;
}

#storeFireExtinguisher {
	background-position: 0 -139px;
	width: 73px;
	height: 73px;
}

#storeHeatLamp {
	background-position: 0 -226px;
	width: 73px;
	height: 73px;
}

#storeHelper {
	background-position: 0 -478px;
	width: 73px;
	height: 73px;
}

#storeMicrowave {
	background-position: 0 -64px;
	width: 73px;
	height: 73px;
}

#storePause {
	background-position: 0 -395px;
	width: 73px;
	height: 73px;
}

#storeSauce {
	background-position: 0 -566px;
	width: 73px;
	height: 73px;
}

#storeScraper {
	background-position: 0 -313px;
	width: 73px;
	height: 73px;
}

#storeTwitter {
	background-position: 0 0;
	width: 73px;
	height: 73px;
}

#pauseBackground {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 200;
	opacity: 0.5;
	font-size: 64pt;
	font-weight: bold;
	text-align: center;
	padding-top: 200px;
	display: none;
}

#statistics {
	overflow-y: scroll;
