body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width: 100%;
	height: 100%;
	overflow: hidden;
}

.patty {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid brown;
	z-index; 100;
}

#griddle {
	width: 250;
	height: 230px;
	border: 1px solid black;
	z-index: 5;
	float: right;
	background-color: white;
}

#griddleFill {
	float: left;
	border: 1px solid black;
	width: 500px;
	height: 350px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
	z-index: 3;
}

#preptable {
	position: relative;
	width: 200px;
	height: 350px;
	border: 1px solid black;
	float: left;
}

.prepTableSlotFill {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
}

#floor {
	float: right;
	width: 700px;
	height: 200px;
}

#workspace {
	height: 504px;
	width: 704px;
	cursor: url(./spatula.cur);
	float: left;
	clear: both;
}

#adminSpace {
	width: 408px;
	height: 350px;
	border: 1px solid black;
	float: left;
}

.flipside {
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}

.curside {
	color: white;
}

.colBox {
	width: 100px;
	height: 100px;
	border: 2px dashed black;
	z-index: 1000;
	position: absolute;
}

#currentOrder {
	position: relative;
	border: 1px solid blue;
	height: 20px;
}

#currentOrderBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	display: none;
	top: 0;
	left: 0;
}

#orderCollection {
	border: 1px solid blue;
}

.prepPatty {
	border: 1px solid brown;
	height: 30px;
}

.progressBar {
	float: left;
	height: 100%;
}

#fillOrder {
	position: absolute;
	bottom: 0;
}

#ovencontrols {
	float: left;
}

#topBox {
	position: absolute;
	left: 320px;
	font-size: x-large;
	font-weight: bold;
	text-transform: uppercase;
}

#scoreBox {
	float: left;
	padding-left: 10px;
	width: 258px;
}

#addScore {
	padding-left: 20px;
	color: red;
}

#tipBox {
	float: left;
	margin-left: 30px;
	width: 300px;
}

#addTip {
	padding-left: 20px;
	color: red;
}

#burgerBox {
	float: left;
	margin-left: 30px;
}

.garbageIcon {
	position: absolute;
	right: 2px;
	margin-top: 1px;
}

#loginsBox {
	float: left;
}

.popUp {
	border: 2px solid black;
	background-color: white;
	clear: both;
	display: table;
	z-index: 5000;
}

#instructions {
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGD4D8SMQAwHMA6KBLIKuASKNphR6IIgc/8DAACiBQXgDbYOAAAAAElFTkSuQmCC');
}

.ui-dialog-titlebar-close {
	float: right;
}

.buff {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
}

#buffs {
	width: 408px;
	height: 204px;
}

.storeBuff {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
}

.buff:hover {
	background-color: #fcfb9c;
}

#menuBar {
}

#buffBox {
   width: 408px;
   height: 204px;
}

#yulpBox {
	position: relative;
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: x-large;
	font-weight: bold;
	text-transform: uppercase;
}

.buffCount {
	position: absolute;
	right: 3;
	bottom: 0;
	font-weight: bold;
}

#buffFireExtinguisher {
	background-image: url('images/fireExtinguisher_off.png');
}

#buffScraper {
	background-image: url('images/scraper_off.png');
}

#buffMicrowave {
	background-image: url('images/microwave_off.png');
}

#buffPause {
	background-image: url('images/pause_off.png');
} 

#buffHeatLamp {
	background-image: url('images/heatLamp_off.png');
}

#buffTwitter {
	background-image: url('images/twitter_off.png');
}

#buffHelper {
	background-image: url('images/helper_off.png');
}

#buffSauce {
	background-image: url('images/sauce_off.png');
}

.fireBox {
	position: absolute;
	background-color: black;
	background-image: url('images/fire.png');
	z-index: 150;
}

.crudBox {
	position: absolute;
	border: 1px solid red;
	background-color: black;
	z-index: 150;
}

#credits {
	position: absolute;
	bottom: 0;
}
